*{
    max-width: 100%;
    background-color: rgb(97, 189, 155);
}
body{
    background-image: url("inter2.jpg");
    background-size: 5%;   
}
#header{
    display: flex;
    align-items: center;
}

#header h1{
    color: white;
}
.theme{
    float: left;
    margin-left: 24%;
    border-radius: 80%;
    width: 200px;
}
h1{
    margin-left: 25%;
    font-size : 100px;

}
#quiz{
    background-color: rgb(221, 212, 212);
    width: 75%;
    margin: auto;
    font-size : 30px;    
}

#quiz h3{
    text-align: center;
}

#titre{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size : 200%;
}

button{
    font-size: 30px;
    width: auto;
    padding: 10px 30px;
    margin-top: 5%;
}

h2{
    font-size: 150%;
    text-align: center;
}

h3{
    background-color:rgb(136, 128, 128);
}
#refresh{
    border-radius: 10%;
    color: white;
    display: flex;
    margin-top: 3px;
    margin-right: auto;
    margin-left: auto;
    padding : 1%;
    background-color: brown;
}


.response{
    margin: 50px 100px; 
    line-height: 130%;
    font-size: 30px;
    display: none;
    color : rgb(66, 95, 11);
}

input #choice{
    font-size : 300px;
}

#btn{
    color : rgb(46, 0, 153);
    
}
#lb1{
    color: rgb(0, 102, 9);
    background-color:rgb(221, 212, 212);
}
#lb2{
    color: rgb(149, 165, 3);
    background-color:rgb(221, 212, 212);
}
#lb3{
    color: red;
    background-color:rgb(221, 212, 212);
}